*.iml
target/
.testcontainers-tmp-*
.idea
.gradle
.result
**/.settings/
**/.classpath
**/.project
integration/integration-rest/integration-rest-service/src/main/resources/keys
integrations/rust/rust-web/work
**/.pmd
catalina.base_IS_UNDEFINED
**/.checkstyle
register.log
verify.log
.original
.verifications
.register
dependency-reduced-pom.xml
**/*.eclipse-pmd
output.yml
tests/test-base/work
allure-results
.st
node

**/node_modules/
**/package-lock.json
views/*/webpack.config.js
**/dist/
**/build/
**/out/
**/yarn.lock

**/.sts4-cache/*
**/.vscode/*
**/archived_log/*
application.log
pom.xml.versionsBackup
*.rpm
*.deb
Packages
Packages.gz
Release
dists/
**/derby.log
.gradle
**/out

**/.factorypath
**/nodejs
.gradle/
**/out/
**/*.log
/.jpb/persistence-units.xml
